include:
  - local: 'ci-templates/deploy-build.yml'

# ==========================================================
# Terraform VALIDATE for Airbyte Module
# ==========================================================
airbyte (validate):
  extends: .validate_template
  variables:
    MODULE_NAME: deployments/airbyte

# ==========================================================
# Terraform PLAN for Airbyte Module
# ==========================================================
airbyte (plan):
  extends: .plan_template
  needs: ["airbyte (validate)"]
  variables:
    MODULE_NAME: deployments/airbyte

# ==========================================================
# Terraform APPLY for Airbyte Module
# ==========================================================
airbyte:
  extends: .apply_template
  parallel:
    matrix:
      - TF_ACTION: [apply, apply-direct, refresh, destroy]
  variables:
    MODULE_NAME: deployments/airbyte