stages:
  - plan
  - apply

include:
  - local: 'database/.gitlab-ci.yml'
  - local: 'minio/.gitlab-ci.yml'
  - local: 'kafka/.gitlab-ci.yml'
  - local: 'spark/.gitlab-ci.yml'
  - local: 'nessie/.gitlab-ci.yml'

default:
  services:
    - name: tailscale/tailscale:v1.88.4
      alias: tailscale

before_script:
  - source .env
  - export $(grep -v '^#' .env | cut -d= -f1)
  - apk add --no-cache curl openssh gettext

# Add comments to the jobs below as needed v1