include:
  - local: 'database/.gitlab-ci.yml'

stages:
  - detect
  - plan
  - apply

# ===============================
# Detect which modules changed
# ===============================
detect_changed_dirs:
  stage: detect
  image: alpine/git
  script:
    - echo "Detecting changed directories..."
    - |
      CHANGED_DIRS=$(git diff --name-only $CI_COMMIT_BEFORE_SHA $CI_COMMIT_SHA | cut -d'/' -f1 | sort -u | grep -vE '(^\.|^$)' || true)
      echo "CHANGED_DIRS=$CHANGED_DIRS" >> variables.env
      echo "Detected modules: $CHANGED_DIRS"
