stages:
  - dummy
  - plan
  - apply

include:
  - local: 'database/.gitlab-ci.yml'
  - local: 'minio/.gitlab-ci.yml'
  - local: 'kafka/.gitlab-ci.yml'
  - local: 'spark/.gitlab-ci.yml'
  - local: 'nessie/.gitlab-ci.yml'
  - local: 'trino/.gitlab-ci.yml'
  - local: 'metabase/.gitlab-ci.yml'

before_script:
  - source .env
  - export $(grep -v '^#' .env | cut -d= -f1)
  - apt-get update && apt-get install -y curl openssh-client gettext-base

dummy_job:
  stage: dummy
  image: alpine:latest
  before_script: []
  script:
    - echo "Running dummy job because specific files did NOT change"
  rules:
    - when: always
  tags:
    - k8s
# Add comments to the jobs below as needed v1