stages:
  - dummy
  - plan
  - execute

include:
  - local: 'database/.gitlab-ci.yml'
  - local: 'minio/.gitlab-ci.yml'
  - local: 'kafka/.gitlab-ci.yml'
  - local: 'trino/.gitlab-ci.yml'
  - local: 'metabase/.gitlab-ci.yml'
  - local: 'airflow/.gitlab-ci.yml'
  - local: 'openbao/.gitlab-ci.yml'
  - local: 'superset/.gitlab-ci.yml'
  - local: 'airbyte/.gitlab-ci.yml'

dummy job:
  stage: dummy
  image: ubuntu:22.04
  before_script: []
  script:
    - echo "Running dummy job because specific files did NOT change"
  rules:
    # 1️⃣ Run during merge request pipelines
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      when: always

    # Default: never run outside MR or merge
    - when: never

  tags:
    - k8s
# Add comments to the jobs below as needed v1