stages:
  - dummy
  - plan
  - apply

include:
  - local: 'database/.gitlab-ci.yml'
  - local: 'minio/.gitlab-ci.yml'
  - local: 'kafka/.gitlab-ci.yml'
  - local: 'spark/.gitlab-ci.yml'
  - local: 'nessie/.gitlab-ci.yml'

before_script:
  - source .env
  - export $(grep -v '^#' .env | cut -d= -f1)
  - apt-get update && apt-get install -y curl openssh-client gettext-base

dummy_job:
  stage: dummy
  image: alpine:latest
  before_script: []
  script:
    - echo "Running dummy job because specific files did NOT change"
  rules:
    # Don't run if any files in subdirectories changed
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      changes:
        - database/**/*
        - minio/**/*
        - kafka/**/*
        - spark/**/*
        - nessie/**/*
      when: never
    # Run in all other cases
    - when: always
  tags:
    - k8s
# Add comments to the jobs below as needed v1