include:
  - local: 'ci-templates/deploy-build.yml'

# ==========================================================
# Terraform PLAN for Database Module
# ==========================================================
database (plan):
  extends: .plan_template
  variables:
    MODULE_NAME: database

# ==========================================================
# Terraform APPLY for Database Module
# ==========================================================
database:
  extends: .apply_template
  parallel:
    matrix:
      - TF_ACTION: [apply, apply-direct, refresh, destroy]
  variables:
    MODULE_NAME: database