include:
  - local: 'ci-templates/deploy-build.yml'

# ==========================================================
# Terraform PLAN for Database Module
# ==========================================================
database_plan:
  extends: .plan_template
  variables:
    MODULE_NAME: "database"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      changes:
        - "database/main.tf"
      when: always
    - when: never

# ==========================================================
# Terraform APPLY for Database Module
# ==========================================================
database_apply:
  extends: .plan_template
  variables:
    MODULE_NAME: "database"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - "database/main.tf"
      when: always
    - when: never