include:
  - local: 'ci-templates/deploy-build.yml'

# ==========================================================
# Terraform PLAN for Airflow Module
# ==========================================================
airflow (plan):
  extends: .plan_template
  variables:
    MODULE_NAME: airflow

# ==========================================================
# Terraform APPLY for Airflow Module
# ==========================================================
airflow (apply):
  stage: apply
  extends: .apply_template
  variables:
    TF_ACTION: apply
    MODULE_NAME: airflow
  when: manual

airflow (refresh):
  stage: apply
  extends: .apply_template
  variables:
    TF_ACTION: refresh
    MODULE_NAME: airflow
  when: manual

airflow (destroy):
  stage: apply
  extends: .apply_template
  variables:
    TF_ACTION: destroy
    MODULE_NAME: airflow
  when: manual

