include:
  - local: 'ci-templates/deploy-build.yml'

# ==========================================================
# Terraform PLAN for Airflow Module
# ==========================================================
airflow (plan):
  extends: .plan_template
  variables:
    MODULE_NAME: airflow

# ==========================================================
# Terraform APPLY for Airflow Module
# ==========================================================
airflow:
  extends: .apply_template
  parallel:
    matrix:
      - TF_ACTION: [apply, refresh, destroy]
  variables:
    MODULE_NAME: airflow