include:
  - local: 'ci-templates/deploy-build.yml'

# ==========================================================
# Terraform PLAN for Airflow Module
# ==========================================================
airflow_plan:
  extends: .plan_template
  variables:
    MODULE_NAME: "airflow"

# ==========================================================
# Terraform APPLY for Airflow Module
# ==========================================================
airflow 1/3 (apply):
  stage: apply
  extends: .apply_template
  variables:
    TF_ACTION: apply
    MODULE_NAME: airflow
  when: manual

airflow 2/3 (refresh):
  stage: apply
  extends: .apply_template
  variables:
    TF_ACTION: refresh
    MODULE_NAME: airflow
  when: manual

airflow 3/3 (destroy):
  stage: apply
  extends: .apply_template
  variables:
    TF_ACTION: destroy
    MODULE_NAME: airflow
  when: manual

