include:
  - local: 'ci-templates/deploy-build.yml'

# ==========================================================
# Terraform PLAN for Airflow Module
# ==========================================================
airflow_plan:
  extends: .plan_template
  variables:
    MODULE_NAME: "airflow"

# ==========================================================
# Terraform APPLY for Airflow Module
# ==========================================================
airflow_apply:
  extends: .apply_template
  variables:
    MODULE_NAME: "airflow"
    